<div style="width: 800px; height: 800px; background-color: brown;"></div>
<div style="width: 800px; height: 800px; background-color: rgb(50, 50, 50);"></div>
<div style="width: 800px; height: 800px; background-color: brown;"></div>
<div style="width: 800px; height: 800px; background-color: rgb(50, 50, 50);"></div>
<div style="width: 800px; height: 800px; background-color: brown;"></div>
<div style="width: 800px; height: 800px; background-color: rgb(50, 50, 50);"></div>
<div style="width: 800px; height: 800px; background-color: brown;"></div>
<div style="width: 800px; height: 800px; background-color: rgb(50, 50, 50);"></div>
<div style="width: 800px; height: 800px; background-color: brown;"></div>
<div style="width: 800px; height: 800px; background-color: rgb(50, 50, 50);"></div>
<div style="width: 800px; height: 800px; background-color: brown;"></div>
<div style="width: 800px; height: 800px; background-color: rgb(50, 50, 50);"></div>
<div style="width: 800px; height: 800px; background-color: brown;"></div>
<div style="width: 800px; height: 800px; background-color: rgb(50, 50, 50);"></div>
<div style="width: 800px; height: 800px; background-color: brown;"></div>
<div style="width: 800px; height: 800px; background-color: rgb(50, 50, 50);"></div>