header {
  display: flex;
  flex-direction: column;
}
header #images-background-game {
  display: flex;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
}
header #images-background-game .image-background-game {
  padding: 0px;
  height: 100%;
}
header #images-background-game .image-background-game img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .tittle-primary {
    margin-top: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1440px) {
  .tittle-primary {
    margin-top: 80px;
  }
}
.tittle-primary {
  color: white;
  font-size: 40px;
  margin-bottom: 180px;
}

#blocks-detail-games {
  display: flexbox;
  justify-content: center;
}
#blocks-detail-games .block-detail-game {
  background-color: rgb(123, 123, 123);
  height: 500px;
  width: 64%;
  margin-bottom: 150px;
  margin-inline: 18%;
  display: flex;
  justify-content: left;
  padding: 30px;
}
#blocks-detail-games .block-detail-game .img-left {
  width: 350px;
}
#blocks-detail-games .block-detail-game .img-left img {
  width: 100%;
  height: 100%;
}
#blocks-detail-games .block-detail-game .about-game {
  padding-left: 30px;
  max-width: 620px;
  display: flex;
  flex-direction: column;
}
#blocks-detail-games .block-detail-game .about-game .detail-game-tittle {
  color: white;
  font-size: 40px;
  margin-bottom: 35px;
}
#blocks-detail-games .block-detail-game .about-game p {
  color: white;
  font-size: 17px;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail {
  border-top: 1px;
  border-color: black;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail .platform-avaible-on {
  display: flex;
  align-self: center;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail .platform-avaible-on p {
  font-size: 20px;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail .platform-avaible-on .icons-avaible-on {
  margin-left: 25px;
  margin-top: 4px;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail .platform-avaible-on .icons-avaible-on i {
  margin-right: 20px;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail .buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 20px;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail .buttons button {
  background-color: #53A7BB;
  color: white;
  border-color: #53A7BB;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail .buttons button:hover {
  background-color: #2e91aa;
  border-color: #2e91aa;
}
#blocks-detail-games .block-detail-game .about-game .footer-game-detail .buttons button:active {
  background-color: #13738b;
  border-color: #13738b;
}

#footer {
  width: 100%;
  height: 250px;
  background-color: rgb(129, 161, 190);
  padding-top: 70px;
  padding-bottom: 40px;
}
#footer .buttons-social-medias {
  display: flex;
  justify-content: center;
}
#footer .buttons-social-medias .button-social-media {
  border-radius: 1px;
  border-color: black;
  background-color: rgb(129, 161, 190);
  border-radius: 8px;
  margin-inline: 100px;
}/*# sourceMappingURL=style.css.map */